<div class="about">
  <div class="home-inner">
    <h1>About Me</h1>
    <p>I am 22 years old, I love Computers, pizza, coke(diet) and mountain biking.</p>
    <p>
      Academically I am an Engineer, majored in Computer Science. I have always been fascinated by good designs and
      art that is involved in creating web/mobile stuff and I find peace in doing things around those
    lines.</p>
    <p>Currently I work for <a href="https://kisanhub.com/">KisanHub</a>, a data analytics and monitoring tool for
      farmers.</p>
    <hr/>
    <p><strong>Things I work on:</strong></p>
    <p>HTML, CSS, Javascript, AngularJS, Python, Django, User Interface and experience design. I have also worked on
      Google maps API extensively along with few other plugins like leafletJS and MapBoxJS and all of this
      wouldn't have been possible without GIT, which i actively use on Github and Bitbucket.</p>
    <p>Apart from this I have also developed themes for Wordpress and Ghost blogging platform, amazingly I can come
      up with a new theme from scratch within a few hours.</p>
    <p>I am quite familier in deploying solutions to Digital Ocean, Linode and Godaddy, also have a experience in
      creating server from scratch.</p>
    <hr/>
    <p>I like to keep doing something or the other around design and programming which is why I keep myself busy all
      the time.</p>
    <p><strong>"Always keep learning and doing things that you love"</strong> is what I have always believed in.</p>
  </div>
</div>
